html {
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: var(--default-font-family);
    font-weight: normal;
    font-style: normal;
}

.inner-container{
    margin: 0 auto !important;
}

a {
    -webkit-transition: all .25s cubic-bezier(.645, .045, .355, 1);
    -khtml-transition: all .25s cubic-bezier(.645, .045, .355, 1);
    -moz-transition: all .25s cubic-bezier(.645, .045, .355, 1);
    -ms-transition: all .25s cubic-bezier(.645, .045, .355, 1);
    -o-transition: all .25s cubic-bezier(.645, .045, .355, 1);
    transition: all .25s cubic-bezier(.645, .045, .355, 1);
    color: var(--link-color);
    text-decoration: none;
    outline: none;
    display: inline-block;
}

a:before,
a:after {
    -webkit-transition: inherit;
    -khtml-transition: inherit;
    -moz-transition: inherit;
    -ms-transition: inherit;
    -o-transition: inherit;
    transition: inherit
}

a:hover,
a:focus ,
a:active,
a.nice-select.open {
    color: var(--link-color-hover);
}

.clearfix::after {
    display: block;
    clear: both;
    content: ""
}

a,
a:hover,
a:focus,
a:before,
a:after {
    outline: none;
    text-decoration: none;
}


.clearfix{
    clear: both;
}