/* Footer Section  */
.footer {
    position: relative;
    z-index: 1;
    font-size: 1rem;
    font-weight: 400;
    line-height: 34px;
    color: var(--dark-color);
    background-color: var(--primary-dark-color);
    background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 1px;
        height: 110px;
        background-color: var(--dark-color);
    }
    .footer-inner{
        position: relative;
        padding: 60px 0px 30px 0px;
        overflow: hidden;
    }
    .footer-link{
        position: relative;
        ul{
            padding: 0;
            margin: 0;
            text-align: center;
            li{
                display: inline-block;
                a{
                    font-size: 14px;
                    color: var(--white-color);
                    text-decoration: none;
                    display: inline-block;
                }
            }
        }
    }
    ul{
        padding: 0;
        margin-bottom: 0px;
        list-style-type: none;
        li{
            list-style-type: none;
            padding-bottom: 1.375rem;
            a{
                color: var(--white-color);
                font-size: 2.75rem;

            }
            &:last-child{
                padding-bottom: 0px;
            }
        }
    }
    .logo{
        img{
            width: 320px;
            height: auto;
        }
    }
}



/* Style 2 */
.footer.style2 ul li a {
    color: var(--color-white);
}
.footer.style2 ul li a:hover {
    color: var(--color-one);
}
.footer.style2 .widget-title {
    color: var(--color-white);
}

/* Totop */
.totop {
    position: fixed;
    right: 30px;
    bottom: 22px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-base);
}
.totop.show {
    opacity: 1;
    visibility: visible;
}

.totop a {
    width: 54px;
    height: 54px;
    background: var(--color-one);
    color: var(--color-white-fixed);
    display: inline-block;
    text-align: center;
    line-height: 54px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px var(--color-one);
}

.wptb-newsletter-box {
    position: relative;
    padding: 40px;
    max-width: 500px;
    margin: 0 auto;
}

.wptb-newsletter-box::before,
.wptb-newsletter-box::after,
.wptb-newsletter-box .wptb-newsletter-box--inner::before,
.wptb-newsletter-box .wptb-newsletter-box--inner::after {
    content: '';
    position: absolute;
    width: 63px;
    height: 63px;
    border-style: solid;
    border-color: var(--color-dark-seven-fixed);
    transition: var(--transition-base);
}

.wptb-newsletter-box::before {
    left: 0;
    top: 0;
    border-width: 1px 0px 0px 1px;
}

.wptb-newsletter-box::after {
    right: 0;
    bottom: 0;
    border-width: 0px 1px 1px 0px;
}

.wptb-newsletter-box .wptb-newsletter-box--inner::before {
    left: 0;
    bottom: 0;
    border-width: 0px 0px 1px 1px;
}

.wptb-newsletter-box .wptb-newsletter-box--inner::after {
    top: 0;
    right: 0;
    border-width: 1px 1px 0px 0px;
}

.footer-widget-with-border {
    position: relative;
}
.footer-widget-with-border::before,
.footer-widget-with-border::after {
    content: '';
    position: absolute;
    top: -62%;
    width: 1px;
    height: 200%;
    background-color: rgba(var(--color-white-fixed-rgb), 0.1)
}

.footer-widget-with-border::before {
    left: 0;
}
.footer-widget-with-border::after {
    right: 0;
}

.footer .social-box.style-oval ul li a:not(:hover) {
    border-color: var(--color-white-fixed);
    color: var(--color-white-fixed);
}


@media screen and (max-width: 1199.9px) {
    .footer-upper-contact .logo {
        position: relative;
        left: 0;
        margin-bottom: 15px;
    }
    .footer-upper-contact .logo a {
        padding: 10px;
    }
    .footer .widget-title {
        font-size: 15px;
        line-height: 22px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
    .footer .widget-title br {
        display: none;
    }
    .footer .newsletter-form button.btn {
        position: relative;
        background-color: var(--color-dark-seven-fixed);
        margin-top: 8px;
    }
    .wptb-newsletter-box {
        padding: 10px;
    }
}

@media screen and (max-width: 767.9px) {
    .footer-widget-with-border::before, .footer-widget-with-border::after {
        display: none;
    }
}
@media screen and (max-width: 575.9px) {
    .footer-upper-contact .wptb-icon-box1 .wptb-item--inner {
        border-width: 0px;
        margin-right: 0px;
    }
    .footer .newsletter-form button.btn {
        position: relative;
        background-color: var(--color-dark-seven-fixed);
        margin-top: 8px;
    }
}